{% extends 'main.html' %}

{% block content %}

    {% if canPost %}

    <a href="{% url 'create-post' t %}">Create Post</a>

    {% endif %}

    <hr>
    <div>
        <p>Topics</p>
        {% for topic in topics %}    
        
            <div>
                <a href="{% url 'browse' topic.id %}">{{topic.name}}</a>
                <hr>
            </div>

        {% endfor %}
    </div>

    <hr>
    <div>
        <p>Pinned posts</p>
        {% for post in pinned_posts %} 
            <div>
                <a href="{% url 'post' post.id %}">{{post.name}} {% if post.is_deleted %}| post deleted by {{post.deleted_by}} {% endif %}</a>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div id="post_pagination">
        {% with len=page_count|length%}
            {% if pag_previous %}
                <a hx-get='{% url "more-posts" curent_page|add:"-1" t %}' hx-target="#posts" hx-trigger="click">Previous Page</a>
            {% endif %}
            {% if len <= 6 %}
                {% for page in page_count  %}
                    <a hx-get='{% url "more-posts" page|add:1 t %}' hx-target="#posts" hx-trigger="click">{{page|add:1}}</a>
                {% endfor %}
            {% else %}
                {% for page in indentation_range %}
                    {% if page == '...' %}
                        <p style="display: inline">...</p>
                    {% else %}
                        <p style="display: inline" hx-get='{% url "more-posts" page|add:1 t %}' hx-target="#posts" hx-trigger="click">{{page|add:1}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if pag_next %}
                <a hx-get='{% url "more-posts" curent_page|add:1 t %}' hx-target="#posts" hx-trigger="click">Next page</a>
            {% endif %}
        {% endwith %}
    </div>
    <div id="posts">
        {% include 'base/browse_posts.html' %}
    </div>

{% endblock content %}